</head>
<body>
  <nav>
    <i class="fas fa-plane"></i>
    <a href="/meals/new" <% title === "Add Meal" ? 'class="active"' : "" %>>ADD MEAL</a>
    <a href="/flights/new">ADD FLIGHT</a>
    <a href="/flights" <% title === "All Flights" ? 'class="active"' : "" %>>ALL FLIGHTS</a>
  </nav>