html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  color: #052025;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 1.8rem;
  background-color: rgb(160, 160, 226);
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(160, 160, 226);
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

body > nav {
  grid-area: nav;
  background-color: rgb(73, 73, 128);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
}

.main-title {
  text-align: center;
  display: flex;
  margin: auto;
  padding-bottom: 400px;
  color: aliceblue;
  background-color: rgb(160, 160, 226);
}

.main-page {
  background-color: rgb(160, 160, 226);
  text-align: center;
  display: flex;
}

nav > a:visited {
  color: aliceblue;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

h1 {
  color: rgb(30, 30, 30);
}

.fas::before {
  font-family: "Font Awesome 5 Free";
  font-size: 36px;
  color: rgb(160, 160, 226);
}
