table {
  font-size: 2rem;
}

table thead th {
  padding: 5px;
  border: 2px solid black;
  color: rgb(30, 30, 30);
}

table td {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  color: rgb(30, 30, 30)
}

nav > a:visited {
  color: aliceblue;
}

a {
  color: rgb(48, 2, 70);
}

#list a:hover {
  background-color: white;
}